.roleCard {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
}

.president {
  background-color: rgb(179, 179, 255);
}

.chancellor {
  background-color: rgb(179, 255, 185);
}

.ineligible {
  background-color: red;
  color: white;
}
